extends ../default.jade

block pageContent
    div.page-content.content
        h1
            | About Me <small>(Andrew Black)</small>
        div.content-inline
            img.portrait
            p.content 
                | I'm Andrew Black, also referred to as Elystus, and I'm a Computer Science major at San Diego State University (SDSU). 
                | I've had about three years of experience in the web development field, and have been dabbling in code since I was 15.
            
             p.no-indent
                | Current proficient languages:
            ul
                li= 'PHP'
                li= 'Java'
                li= 'Node.js (Javascript)'
                li= 'Javascript'
                li= 'HTML5'
                li= 'CSS3'
            p.content
                | Through the use of Google, online colleagues and my education at SDSU, I have acquired skills across multiple different languages, coding styles, and the fundamentals of group coding dynamics.
                | I plan to keep on growing my skill sets as I meet new developers.
       
        